@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }

  85% {
    transform: translate(1rem);
  }

  100% {
    opacity: 1;
    translate: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(+10rem);
  }

  85% {
    transform: translate(-1rem);
  }

  100% {
    opacity: 1;
    translate: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(+3rem);
  }

  100% {
    opacity: 1;
    translate: translate(0);
  }
}
